body
{
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Bhaina 2', cursive; 
}

.hero
{
    height: 100vh;
    background-image:url(../MEDIA/contact\ back.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
body a 
{
    color: orangered;
    text-decoration: none;
}

.logo
{
    display: inline-block;
    height: 130px;
    width: 150px;
    position: relative;
    top: 10px;
    left: 40px;
    /*border: 2px solid red;*/
    background-color: orangered;
    border-radius: 30px;
}

.logo img
{
    height: 130px;
    width: 200px;
    position: relative;
    left: -20px;
    
}
.navbar
{
    display: inline-block;
    position: absolute;
    /*border: 2px solid red;*/
    margin: 0px;
    padding: 0px;
    /*background-color:yellow;*/
    height: 50px;
    margin-left: 220px;
    margin-top: 20px;
    border-top: 3px solid rgb(67, 67, 82);
    border-bottom: 3px solid rgb(67, 67, 82);
    
}
.navbar li
{
    float: left;
    list-style: none;
    width: 145px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    text-align:left;
    color: white;
    
}
.navbar li:hover
{
    cursor: pointer;
    text-decoration: underline;
}


form
{
    /*border: 2px solid red;*/
    display: inline-block;
    position: absolute;
    top: 240px;
    left: 120px;
    width: 600px;
    height: 400px;
    font-size: 22px;
    color: white;
}

.name
{
    width: 220px;
    height: 30px;
    font-weight: bold;
    padding-left: 5px;
    font-family: 'Baloo Paaji 2', cursive;
}
.name input
{
    width: 270px;
    height: 40px;
    font-family: 'Baloo Paaji 2', cursive;
    border-radius: 5px;
    font-size: 20px;
}    
 
.phone
{
    position: absolute;
    left: 300px;
    top: 0px;
    width: 300px;
    height: 30px;
    font-weight: bold;
    padding-left: 5px;
    font-family: 'Baloo Paaji 2', cursive;
}

.phone input
{
    width: 275px;
    height: 40px;
    font-family: 'Baloo Paaji 2', cursive;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
}    

.email
{
    position: absolute;
    top: 90px;
    width: 220px;
    height: 30px;
    font-weight: bold;
    padding-left: 5px;
    font-family: 'Baloo Paaji 2', cursive;
}

.email input 
{
    width: 575px;
    height: 40px;
    font-family: 'Baloo Paaji 2', cursive;
    border-radius: 5px;
    font-size: 20px;
}  

.message
{
    position: absolute;
    top: 185px;
    width: 220px;
    height: 30px;
    font-weight: bold;
    padding-left: 5px;
    font-family: 'Baloo Paaji 2', cursive;
}
.message textarea
{
    width: 575px;
    height: 140px;
    font-family: 'Baloo Paaji 2', cursive;
    border-radius: 5px;
    font-size: 20px;
}
.btn1 button
 {
    display: inline-block;
    position: absolute;
    top: 390px;
    right: 20px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    background-color: transparent;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
}
.btn1 button:hover
{
    background-color:transparent;
    font-size: 18px;
    color: orangered;
    border: 3px solid orangered;
}

.heading1
{
    position: relative;
    top: 0px;
}


.heading1 h1
{
    color: white;
    text-align: center;
}






.right
{
    /*border: 2px solid red;*/
    display: inline-block;
    position: absolute;
    left: 945px;
    top: 290px;
    width: 400px;
    height: 355px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 0px;
    color: white;
    font-family: 'Baloo Paaji 2', cursive;
}
.right1
{
    /*border: 2px solid red;*/
    font-weight: normal;
    font-size: 25px;
    font-family: 'Baloo Paaji 2', cursive;
}

.right1 h4
{
    font-weight: bold;
    font-size: 40px;
    font-family: 'Baloo Paaji 2', cursive;
}

.right2
{
    /*border: 2px solid red;*/
    font-weight: normal;
    font-size: 25px;
    font-family: 'Baloo Paaji 2', cursive;
   
}

.right2 h4
{
    font-weight: bold;
    font-size: 40px;
}


footer
{
    position:relative;
    top:460px;
    background-image: url("../media/back2.jpg");
    background-size: cover;
    height:390px;
    line-height: 37px;
}
.footer1 
{
    display: block;
    position: absolute;
    top: 20px;
    left: 350px;
    color: white;
    font-weight: bold;
    width: 200px;
    
}
.footer1 h1,.footer2 h1
{
    display:inline-block;
    color:yellow;
    font-size: 30px;
    line-height: 0px;
    font-weight: bolder;
    margin-bottom: 0px;
}
.footer1 h3,.footer2 h3
{
    font-size: 25px;
    margin-bottom: 0px;
}
.footer2
{
    display: inline-block;
    position:absolute;
    left: 950px;
    top: 20px;
}
.footer2 ul li
{
    list-style: none;
    font-size:20px;
    border-bottom: 2px solid white;
    width: 200px;
    margin-left:-30px;
}
.footer2 ul li a
{
    text-decoration: none;
    color: white;
}
.footer2 ul li a:hover
{
    color:orange;
    font-weight: bolder;

}

section
{
    position: relative;
    top: 450px;
}
section h1
{
    position: relative;
    top: 0px;
}


.last
{
    position: relative;
    top:0px;
}

.heading
{
 
    display: block;
    
    position: relative;
    top: 490px;
    
}
.button h1
{
    display: inline-block;
    width: 300px;
    border: 2px solid red;
    height: 100px;
}
.last .btn1
{
    background-color: red;
}
.last .btn2
{
    background-color: #BA184F;
}
.last .btn3
{
    background-color:rgb(24, 24, 144);
}
.last .btn4
{
    background-color:rgb(34, 84, 184);
}
.last .btn5
{
    background-color:#FD1D1D;
}
.last button
{
    width: 190px;
    height: 55px;
    border-radius: 8px;
}
.last button img
{
    height: 38px;
    text-align: center;
    margin-top: 5px;
}
.last button:hover
{
    background-color: orange;
    cursor: pointer;
}
